In [1]:
from sklearn.datasets import fetch_california_housing

In [2]:
housing = fetch_california_housing()

In [3]:
import pandas as pd

In [4]:
housing_df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [5]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
housing_df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [7]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
MedInc        20640 non-null float64
HouseAge      20640 non-null float64
AveRooms      20640 non-null float64
AveBedrms     20640 non-null float64
Population    20640 non-null float64
AveOccup      20640 non-null float64
Latitude      20640 non-null float64
Longitude     20640 non-null float64
dtypes: float64(8)
memory usage: 1.3 MB

In [8]:
housing_df['housing_price'] = housing.target

In [9]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,housing_price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [10]:
corr = housing_df.corr()

In [11]:
corr

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,housing_price
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
housing_price,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000

In [12]:
c = corr['housing_price']

In [13]:
c.sort_values(ascending=True)

Latitude        -0.144160
AveBedrms       -0.046701
Longitude       -0.045967
Population      -0.024650
AveOccup        -0.023737
HouseAge         0.105623
AveRooms         0.151948
MedInc           0.688075
housing_price    1.000000
Name: housing_price, dtype: float64

In [14]:
import numpy as np

In [15]:
housing_df['income_cat'] = np.ceil(housing_df['MedInc'] / 1.5)

In [16]:
housing_df['income_cat'].value_counts()

3.0     7236
2.0     6581
4.0     3639
5.0     1423
1.0      822
6.0      532
7.0      189
8.0      105
9.0       50
11.0      49
10.0      14
Name: income_cat, dtype: int64

In [17]:
housing_df['income_cat'].where(housing_df['income_cat'] < 5, 5, inplace=True)

In [18]:
housing_df['income_cat'].value_counts() / len(housing_df)

3.0    0.350581
2.0    0.318847
4.0    0.176308
5.0    0.114438
1.0    0.039826
Name: income_cat, dtype: float64

In [19]:
from sklearn.model_selection import StratifiedShuffleSplit

In [20]:
split = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=42)

In [21]:
for train_ix, test_ix in split.split(housing_df, housing_df['income_cat']):
    train_housing_df = housing_df.iloc[train_ix]#genrator
    test_housing_df = housing_df.iloc[test_ix]

In [22]:
train_housing_df['income_cat'].value_counts() / len(train_housing_df)

3.0    0.350594
2.0    0.318859
4.0    0.176296
5.0    0.114402
1.0    0.039850
Name: income_cat, dtype: float64

In [23]:
test_housing_df['income_cat'].value_counts() / len(test_housing_df)

3.0    0.350533
2.0    0.318798
4.0    0.176357
5.0    0.114583
1.0    0.039729
Name: income_cat, dtype: float64

In [24]:
train_housing_df = train_housing_df.drop('income_cat', axis=1)

In [25]:
test_housing_df = test_housing_df.drop('income_cat', axis=1)

In [26]:
train_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 5288 to 18453
Data columns (total 9 columns):
MedInc           16512 non-null float64
HouseAge         16512 non-null float64
AveRooms         16512 non-null float64
AveBedrms        16512 non-null float64
Population       16512 non-null float64
AveOccup         16512 non-null float64
Latitude         16512 non-null float64
Longitude        16512 non-null float64
housing_price    16512 non-null float64
dtypes: float64(9)
memory usage: 1.3 MB

In [27]:
train_X = train_housing_df.drop('housing_price', axis=1)

In [28]:
train_y = train_housing_df['housing_price']

In [29]:
test_X = test_housing_df.drop('housing_price', axis=1)

In [30]:
test_y = test_housing_df['housing_price']

In [31]:
train_X.shape[1:]

(8,)

In [32]:
import tensorflow.keras as keras

C:\Users\KIIT\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [33]:
model = keras.Sequential([
    keras.layers.Dense(300, input_shape=train_X.shape[1:], activation='relu', kernel_initializer='glorot_normal'),
    keras.layers.Dense(1)
])

WARNING:tensorflow:From C:\Users\KIIT\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1184: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with distribution=normal is deprecated and will be removed in a future version.
Instructions for updating:
`normal` is a deprecated alias for `truncated_normal`

In [34]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Xtrain = scaler.fit_transform(train_X)
Xtest = scaler.fit_transform(test_X)

In [35]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 300)               2700
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 301
=================================================================
Total params: 3,001
Trainable params: 3,001
Non-trainable params: 0
_________________________________________________________________

In [36]:
model.compile(loss="mean_squared_error",optimizer="sgd")

In [ ]:
history=model.fit(Xtrain,train_y,epochs=100,validation_data=(Xtest,test_y))

Train on 16512 samples, validate on 4128 samples
Epoch 1/100
16512/16512 [==============================] - 1s 35us/step - loss: 0.6994 - val_loss: 1.2765
Epoch 2/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.7056 - val_loss: 0.5007
Epoch 3/100
16512/16512 [==============================] - 1s 37us/step - loss: 0.4514 - val_loss: 0.4192
Epoch 4/100
16512/16512 [==============================] - 1s 49us/step - loss: 0.4218 - val_loss: 0.4083
Epoch 5/100
16512/16512 [==============================] - 1s 31us/step - loss: 0.4061 - val_loss: 0.3940
Epoch 6/100
16512/16512 [==============================] - 0s 27us/step - loss: 0.3997 - val_loss: 0.3897
Epoch 7/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3877 - val_loss: 0.3909
Epoch 8/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3845 - val_loss: 0.3876
Epoch 9/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3806 - val_loss: 0.3787
Epoch 10/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3823 - val_loss: 0.3796
Epoch 11/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3670 - val_loss: 0.3800
Epoch 12/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3629 - val_loss: 0.7458
Epoch 13/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3699 - val_loss: 0.3716
Epoch 14/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3693 - val_loss: 0.3736
Epoch 15/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3571 - val_loss: 0.3838
Epoch 16/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3522 - val_loss: 0.3857
Epoch 17/100
16512/16512 [==============================] - 1s 31us/step - loss: 0.3539 - val_loss: 0.3718
Epoch 18/100
16512/16512 [==============================] - 1s 49us/step - loss: 0.3512 - val_loss: 0.3621
Epoch 19/100
16512/16512 [==============================] - 1s 38us/step - loss: 0.3487 - val_loss: 0.3688
Epoch 20/100
16512/16512 [==============================] - 1s 48us/step - loss: 0.3431 - val_loss: 0.3567
Epoch 21/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3470 - val_loss: 0.3680
Epoch 22/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3431 - val_loss: 0.3558
Epoch 23/100
16512/16512 [==============================] - 0s 28us/step - loss: 0.3386 - val_loss: 0.3557
Epoch 24/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3435 - val_loss: 0.3813
Epoch 25/100
16512/16512 [==============================] - 1s 32us/step - loss: 0.3313 - val_loss: 0.3645
Epoch 26/100
16512/16512 [==============================] - 1s 38us/step - loss: 0.3289 - val_loss: 0.3608
Epoch 27/100
16512/16512 [==============================] - 1s 40us/step - loss: 0.3404 - val_loss: 0.3628
Epoch 28/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3291 - val_loss: 0.3678
Epoch 29/100
16512/16512 [==============================] - 0s 30us/step - loss: 0.3426 - val_loss: 0.3720
Epoch 30/100
16512/16512 [==============================] - 0s 29us/step - loss: 0.3692 - val_loss: 0.3563
Epoch 31/100
12384/16512 [=====================>........] - ETA: 0s - loss: 0.3301

In [ ]:
model.predict(Xtrain[5:6])

In [ ]:
train_y[5]

In [ ]:
model.