In [1]:
# neural network multiple outputs
from sklearn.datasets import fetch_california_housing

In [2]:
housing = fetch_california_housing()

In [3]:
import pandas as pd

In [4]:
housing_df = pd.DataFrame(housing.data, columns=housing.feature_names)

In [5]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [6]:
housing_df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [7]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
MedInc        20640 non-null float64
HouseAge      20640 non-null float64
AveRooms      20640 non-null float64
AveBedrms     20640 non-null float64
Population    20640 non-null float64
AveOccup      20640 non-null float64
Latitude      20640 non-null float64
Longitude     20640 non-null float64
dtypes: float64(8)
memory usage: 1.3 MB

In [8]:
housing_df['housing_price'] = housing.target

In [9]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,housing_price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [10]:
corr = housing_df.corr()

In [11]:
corr

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,housing_price
MedInc,1.000000,-0.119034,0.326895,-0.062040,0.004834,0.018766,-0.079809,-0.015176,0.688075
HouseAge,-0.119034,1.000000,-0.153277,-0.077747,-0.296244,0.013191,0.011173,-0.108197,0.105623
AveRooms,0.326895,-0.153277,1.000000,0.847621,-0.072213,-0.004852,0.106389,-0.027540,0.151948
AveBedrms,-0.062040,-0.077747,0.847621,1.000000,-0.066197,-0.006181,0.069721,0.013344,-0.046701
Population,0.004834,-0.296244,-0.072213,-0.066197,1.000000,0.069863,-0.108785,0.099773,-0.024650
AveOccup,0.018766,0.013191,-0.004852,-0.006181,0.069863,1.000000,0.002366,0.002476,-0.023737
Latitude,-0.079809,0.011173,0.106389,0.069721,-0.108785,0.002366,1.000000,-0.924664,-0.144160
Longitude,-0.015176,-0.108197,-0.027540,0.013344,0.099773,0.002476,-0.924664,1.000000,-0.045967
housing_price,0.688075,0.105623,0.151948,-0.046701,-0.024650,-0.023737,-0.144160,-0.045967,1.000000

In [12]:
c = corr['housing_price']

In [13]:
c.sort_values(ascending=True)

Latitude        -0.144160
AveBedrms       -0.046701
Longitude       -0.045967
Population      -0.024650
AveOccup        -0.023737
HouseAge         0.105623
AveRooms         0.151948
MedInc           0.688075
housing_price    1.000000
Name: housing_price, dtype: float64

In [14]:
import numpy as np

In [15]:
housing_df['income_cat'] = np.ceil(housing_df['MedInc'] / 1.5)

In [16]:
housing_df['income_cat'].value_counts()

3.0     7236
2.0     6581
4.0     3639
5.0     1423
1.0      822
6.0      532
7.0      189
8.0      105
9.0       50
11.0      49
10.0      14
Name: income_cat, dtype: int64

In [17]:
housing_df['income_cat'].where(housing_df['income_cat'] < 5, 5, inplace=True)

In [18]:
housing_df['income_cat'].value_counts() / len(housing_df)

3.0    0.350581
2.0    0.318847
4.0    0.176308
5.0    0.114438
1.0    0.039826
Name: income_cat, dtype: float64

In [19]:
from sklearn.model_selection import StratifiedShuffleSplit

In [20]:
split = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=42)

In [21]:
for train_ix, test_ix in split.split(housing_df, housing_df['income_cat']):
    train_housing_df = housing_df.iloc[train_ix]#genrator
    test_housing_df = housing_df.iloc[test_ix]

In [22]:
train_housing_df['income_cat'].value_counts() / len(train_housing_df)

3.0    0.350594
2.0    0.318859
4.0    0.176296
5.0    0.114402
1.0    0.039850
Name: income_cat, dtype: float64

In [23]:
test_housing_df['income_cat'].value_counts() / len(test_housing_df)

3.0    0.350533
2.0    0.318798
4.0    0.176357
5.0    0.114583
1.0    0.039729
Name: income_cat, dtype: float64

In [24]:
train_housing_df = train_housing_df.drop('income_cat', axis=1)

In [25]:
test_housing_df = test_housing_df.drop('income_cat', axis=1)

In [26]:
train_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 5288 to 18453
Data columns (total 9 columns):
MedInc           16512 non-null float64
HouseAge         16512 non-null float64
AveRooms         16512 non-null float64
AveBedrms        16512 non-null float64
Population       16512 non-null float64
AveOccup         16512 non-null float64
Latitude         16512 non-null float64
Longitude        16512 non-null float64
housing_price    16512 non-null float64
dtypes: float64(9)
memory usage: 1.3 MB

In [27]:
train_X = train_housing_df.drop('housing_price', axis=1)

In [28]:
train_y = train_housing_df['housing_price']

In [29]:
test_X = test_housing_df.drop('housing_price', axis=1)

In [30]:
test_y = test_housing_df['housing_price']

In [31]:
train_X.shape[1:]

(8,)

In [32]:
import tensorflow.keras as keras

C:\Users\KIIT\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Xtrain = scaler.fit_transform(train_X)
Xtest = scaler.fit_transform(test_X)

In [34]:
input=keras.layers.Input(shape=Xtrain.shape[1:])
hidden1=keras.layers.Dense(300,activation="relu")(input)#this is basically a function
hidden2=keras.layers.Dense(100,activation="relu")(hidden1)
output2=keras.layers.Dense(1)(hidden2)
#concat=keras.layers.Concatenate()([input,hidden2])
output=keras.layers.Dense(1)(hidden2)
model=keras.models.Model(inputs=[input],outputs=[output,output2])

In [35]:
model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            (None, 8)            0
__________________________________________________________________________________________________
dense (Dense)                   (None, 300)          2700        input_1[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 100)          30100       dense[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 1)            101         dense_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 1)            101         dense_1[0][0]
==================================================================================================
Total params: 33,002
Trainable params: 33,002
Non-trainable params: 0
__________________________________________________________________________________________________

In [47]:
model.compile(loss=["mse","mse"],loss_weights=[0.9,0.1],optimizer="sgd")
class PrintValTrainRatioCallback(keras.callbacks.Callback):
    def on_epoch_end(self,epoch,logs):
        print("Current Epoch:",epoch)
        print("\nval/train:{:.2f}".format(logs["val_loss"/logs["loss"]]))# custom callbacks helps to perform various tasks after each epoch
ob=PrintValTrainRatioCallback()

In [49]:
history=model.fit([Xtrain],[train_y,train_y],epochs=10,validation_data=([Xtest],[test_y,test_y]),callbacks=[ob]) #since 2 outputs

Train on 16512 samples, validate on 4128 samples
Epoch 1/10
16512/16512 [==============================] - 1s 78us/step - loss: 0.2211 - dense_3_loss: 0.2202 - dense_2_loss: 0.2294 - val_loss: 0.4023 - val_dense_3_loss: 0.4059 - val_dense_2_loss: 0.3704
Current Epoch: 0
Epoch 2/10
16512/16512 [==============================] - 1s 76us/step - loss: 0.2195 - dense_3_loss: 0.2185 - dense_2_loss: 0.2279 - val_loss: 0.3152 - val_dense_3_loss: 0.3157 - val_dense_2_loss: 0.3104
Current Epoch: 1
Epoch 3/10
16512/16512 [==============================] - 1s 78us/step - loss: 0.2222 - dense_3_loss: 0.2213 - dense_2_loss: 0.2299 - val_loss: 0.4140 - val_dense_3_loss: 0.4174 - val_dense_2_loss: 0.3837
Current Epoch: 2
Epoch 4/10
16512/16512 [==============================] - 1s 74us/step - loss: 0.2197 - dense_3_loss: 0.2188 - dense_2_loss: 0.2282 - val_loss: 0.3521 - val_dense_3_loss: 0.3539 - val_dense_2_loss: 0.3359
Current Epoch: 3
Epoch 5/10
16512/16512 [==============================] - 1s 80us/step - loss: 0.2213 - dense_3_loss: 0.2204 - dense_2_loss: 0.2295 - val_loss: 0.3641 - val_dense_3_loss: 0.3664 - val_dense_2_loss: 0.3434
Current Epoch: 4
Epoch 6/10
16512/16512 [==============================] - 1s 78us/step - loss: 0.2205 - dense_3_loss: 0.2196 - dense_2_loss: 0.2284 - val_loss: 0.3426 - val_dense_3_loss: 0.3440 - val_dense_2_loss: 0.3295
Current Epoch: 5
Epoch 7/10
16512/16512 [==============================] - 1s 82us/step - loss: 0.2206 - dense_3_loss: 0.2198 - dense_2_loss: 0.2277 - val_loss: 0.3449 - val_dense_3_loss: 0.3465 - val_dense_2_loss: 0.3304
Current Epoch: 6
Epoch 8/10
16512/16512 [==============================] - 1s 79us/step - loss: 0.2190 - dense_3_loss: 0.2181 - dense_2_loss: 0.2273 - val_loss: 0.3532 - val_dense_3_loss: 0.3547 - val_dense_2_loss: 0.3398
Current Epoch: 7
Epoch 9/10
16512/16512 [==============================] - 1s 81us/step - loss: 0.2191 - dense_3_loss: 0.2182 - dense_2_loss: 0.2275 - val_loss: 0.3228 - val_dense_3_loss: 0.3235 - val_dense_2_loss: 0.3164
Current Epoch: 8
Epoch 10/10
16512/16512 [==============================] - 1s 76us/step - loss: 0.2189 - dense_3_loss: 0.2180 - dense_2_loss: 0.2274 - val_loss: 0.3511 - val_dense_3_loss: 0.3527 - val_dense_2_loss: 0.3368
Current Epoch: 9

In [38]:
model.predict(Xtrain[5:6])

[array([[3.2923105]], dtype=float32), array([[3.380199]], dtype=float32)]

In [39]:
train_y[5]

2.697

In [40]:
total_loss,main_loss,aux_loss=model.evaluate([Xtest],[test_y,test_y])#use this for test data

4128/4128 [==============================] - 0s 24us/step

In [41]:
total_loss,main_loss,aux_loss

(0.32061349768047187, 0.32188834665819654, 0.30913991475290103)

In [42]:
y_pred_main,y_pred_aux=model.predict(Xtrain[5:6])#for prediction

In [43]:
y_pred_main,y_pred_aux

(array([[3.2923105]], dtype=float32), array([[3.380199]], dtype=float32))

In [44]:
train_y[5]

2.697